/*
    Created on : 03 Jul 2014, 1:55:14 PM
    Author     : ftshimanga
*/
@import "ionic/variables";
$white:  #ffffff;
$red:    #ff0000;
$grey:   #777;
//============================================================================//
//MODIFY CLASSES
//============================================================================//
.item.dash-grid{
   border-width: 0px; margin-bottom:1px;
   .col{box-shadow: 1px 1px 1px #cecece;margin-left:1px;}
   .col:first-child{margin-left:0px;}
   .item-note{font-size:0.8em;}
   .icon{font-size:300%;}
   .icon:before{text-align: center;width:100%;}
}
//custom class for notes
.item-brief{color: #aaa !important;  font-size: 0.8em !important;}
//card used on the dashboard
.dash {
   text-decoration: none;
   margin:2px 0px;
}
.dash-top,.dash-bot{position:absolute;left:0;right:0;top:0;}
.dash-bot{bottom:0;top:auto;}
//notification msg
.bar-small {height:22px; padding: 1px 15px;
   h5 {margin: 0;font-weight: 100;font-style: italic;}
}
//used in application form to make checkbox, radio and other to the full length of the screen
.item-full-length {padding-left: 0px; margin-left:0px;padding-right: 0px; margin-right:0px; width:100%;
   .input-label {padding-left:8px;}
}
//the login avatar
.user-avatar{padding:0px; margin-top:-5px;
   img {height:35px;border-radius: 50%;}
   h2,h3 {color:white;font-size:14px;margin:0px;padding:0px;}
   h3 {font-size:12px;}
}
//modify the action sheet
.action-sheet-title {padding: 10px;background:#000;padding-left: 100px;font-weight: bold; text-align: left;text-shadow: 2px 2px 5px #999;color: #ececec;font-size: 18px;}
.action-sheet-group{.button{text-align: left;padding-left:100px;}}
//changes the add icon on the bar
.item .list {margin-top:-7px;   .icon:before {font-size:30px;}}
//============================================================================//
//CUSTOMES CLASSES
//============================================================================//
//creates a grey scall image
img.grey {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom: 20px;
   &:hover {
       filter: none; /* IE6-9 */
       -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
   }
}

//changes the layout of the icon button
.button.icon-modified{top:2px;height:20px;}
.button.icon-modified:before{line-height: 30px;}

//in the list of items the blockquote is modified
.infoblock {position:absolute;right:0;top:0;font-size:0.8em;border-left: 5px solid $sky; margin-top:4px; }

//custome title with shaddow
.myTitle{text-shadow: 1px 1px 5px #999;color: #ececec !important;font-size: 18px !important;}

//add a shadow to icons.
.icon-shadow::before{text-shadow: 1px 0px 2px #999;}

//blinking class for animations
.blink_me {animation-name: blinker;animation-duration: 1s;animation-timing-function: linear;animation-iteration-count: infinite;-webkit-animation-name: blinker;-webkit-animation-duration: 1s;-webkit-animation-timing-function: linear;-webkit-animation-iteration-count: infinite;-moz-animation-name: blinker;-moz-animation-duration: 1s;-moz-animation-timing-function: linear;-moz-animation-iteration-count: infinite;}
@keyframes blinker {0% { opacity: 1.0; }50% { opacity: 0.0; }100% { opacity: 1.0; }}@-moz-keyframes blinker {0% { opacity: 1.0; }50% { opacity: 0.0; }100% { opacity: 1.0; }}@-webkit-keyframes blinker {0% { opacity: 1.0; }50% { opacity: 0.0; }100% { opacity: 1.0; }}